.map-fade-in { animation: mapFade 2s; }
.map-fade-out {
  animation-name: mapFade;
  animation-direction: reverse;
  animation-duration: 2s;
}

@keyframes mapFade {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.result-slide {
  animation: resultSlide 2s;
  margin-top: 25%; 
}

@keyframes resultSlide {
  0% {margin-top: 0%}
  100% {margin-top: 25%;}
}